{% extends "layout.html" %}
{% block content %}
    <header class="jumbotron mt-3 text-center">
        <h1>{{itemData.name}}</h1>
        <section class="mt-3">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {%for message in messages%}
                            <li><strong class="text-danger">{{message}}</strong></li>
                        {%endfor%}
                    </ul>
                {%endif%}
            {%endwith%}
        </section>
    </header>
    <main class="row text-center">
        <h1 class="col-12">{{itemData.name}}</h1>
        <h3 class="col-12 mt-3">{{categoryData.name}}</h3>
        <p class="col-12 mt-3">{{itemData.description}}</p>
        {%if itemData.user_id == userId%}
            <p class="mx-auto">
                <a class="manage-link" href={{ url_for("editItem", category_id = itemData.category_id, item_id = itemData.id ) }}> Edit Item</a>
            </p>
            <p class="mx-auto">
                <a class="manage-link" href={{ url_for("deleteItem", category_id = itemData.category_id, item_id = itemData.id ) }}> Delete Item</a>
            </p>
        {% endif %}
    </main>
{% endblock %}